@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
  margin-left: 350px;
  margin-right: 350px;
  
}
.question{
  display: flex;
}
.answer{
  display: flex;
}
.details{
  display: flex;
}