@tailwind base;
@tailwind components;
@tailwind utilities;

/* .app{
  margin-left: 350px;
  margin-right: 350px;
} */
.question{
  display: flex;
  justify-content: space-between;
}
.answer{
  display: flex;
}
.details{
  display: flex;
  font-size: 10px;

}
.side{
  display: flex;
  font-size: 10px;
}
.photos{
  display: flex;
}